<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<!-- <title>loveleeshot</title> -->

<script>
    $(document).ready(function(){
        $('.slider').bxSlider({
        	mode: 'fade',
        	auto: true,
  			slideWidth: 800
        });


    });
 

</script>

<body>
<div class="container">
	<div class="slider">
	    <div><img src="/assets/busan.jpg" style="width: 800px;"></div>
	    <div><img src="/assets/vermont.jpg"style="width: 800px;"></div>
	</div>
</div>


</body>

