<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/stylesheets/jquery.bxslider.css">
<script src="/assets/javascripts/jquery.bxslider.js"></script>
<!-- <title>loveleeshot</title> -->
<%= stylesheet_link_tag    "/app/assets/stylesheets/jquery.bxslider.css" %>
<%= javascript_include_tag "/app/assets/javascripts/jquery.bxslider.js" %>

<script>
    $(document).ready(function(){
        $('.slider').bxSlider({
        	mode: 'fade',
        	auto: true,
  			slideWidth: 800
        });


    });
 

</script>

<body>
<div class="container">
	<div class="slider">
	    <div><img src="/assets/busan.jpg" style="width: 800px;"></div>
	    <div><img src="/assets/vermont.jpg"style="width: 800px;"></div>
	</div>
</div>


</body>

