<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<style>
    .bx-wrapper {
        width: 700px;
    }
</style>
<!-- <title>loveleeshot</title> -->

<script type="text/javascript">
    $(document).ready(function(){
        $('.slider').bxSlider({
        	mode: 'fade',
        	auto: true,
  			slideWidth: 800
        });
    });
</script>

<body>
<div class="container">
	<div class="slider">
	    <div><%= image_tag "busan.jpg" %></div>
	    <div><%= image_tag "vermont.jpg" %></div>
	</div>
</div>
</body>

