<div class="main-body">
    <div class="photo">
        <%= image_tag "me.jpg" %>
    </div>

    <div class="text body1">
        <p> Hello! My name is JiYoung Lee, but you can call me Lynn. <br>
            I am terribly camera shy and feel so much comfortable behind the viewfinder ;)<br>
            From Seoul and grew up all over the east coast, I am currently in New York City. <br>
            Please contact me via email at <a href="mailto:lynnjiyounglee@gmail.com">lynnjiyounglee@gmail.com</a> <br>
            regarding photoshoots or building websites. <br> Or feel free to contact me via instagram as well <br>
            <br>
            Have a fantabulous day~
        </p>
    </div>
</div>