<div class="main-body">
    <div class="photo">
        <%= image_tag "vermont.jpg" %>
    </div>

    <div class="text body1">
        <p> Hello! My name is Ji Young Lee, but you can call me Lynn. <br>
            From Seoul to up and down the east coast, <br>
            I am currently working as Web Developer in Manhattan. <br>
            Please contact me if you have any inquiries for photoshoots. <br>
            <br>
        </p>
    </div>
</div>