<div class="main-body">
    <div class="photogrids">
        <div class="grid">
            
        </div>
        <div class="grid">
        </div>
        <div class="grid">
        </div>
        <div class="grid">
        </div>
        <div class="grid">
        </div>
        <div class="grid">
        </div>
    </div>

    
</div>