<div class="main-body">
    <div class="photogrids">
        <div class="grid">
            photos
        </div>
        <div class="grid">
            coming
        </div>
        <div class="grid">
            soon
        </div>
        <div class="grid">
            very
        </div>
        <div class="grid">
            very
        </div>
        <div class="grid">
            soon
        </div>
    </div>

    
</div>