<div class="main-body">
    <div class="photogrids">
        <a href="/photos/boston">
            <div class="grid grid1">
            </div>
            <div class="grid-title">
                photos
            </div>
        </a>
        <a href="/photos/boston">
            <div class="grid grid2">
            </div>
            <div class="grid-title">
                URBAN
            </div>
        </a>
        <a href="/photos/boston">
            <div class="grid grid3">
            </div>
            <div class="grid-title">
                soon
            </div>
        </a>
        <a href="/photos/boston">
            <div class="grid grid4">
            </div>
            <div class="grid-title">
                very
            </div>
        </a>
        <a href="/photos/boston">
            <div class="grid grid5">
            </div>
            <div class="grid-title">
                very
            </div>
        </a>
        <a href="/photos/boston">
            <div class="grid grid6">
            </div>
            <div class="grid-title">
                soon
            </div>
        </a>

        
    </div>

    
</div>