                                                                                                        //fe Placfe all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	
}

h1 {
	color: orange
}

.body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-decoration: none;

}
.articles {
    a{

    text-decoration: none;
    color: black;
    }
    a:hover {
        color: gray;
    }
}
.article {
    width: 70%;
    border: 1px solid pink;
    margin: 0 auto;
    margin-bottom: 20px;
}

.a-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
