                                                                                                        //fe Placfe all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	
}

h1 {
	color: orange
}

.body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-decoration: none;

}
.articles {
    a{
        text-decoration: none;
        color: black;
        max-width:700px;
        text-align: center;
    }
    a:hover {
        color: gray;
    }
}
.article {
    border: 1px solid pink;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
}

.a-title {
    font-size: 20px;
    font-weight: bold;
}
