// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
	font-family: 'PT Serif', serif;
}
h1 {
	text-align: center;
	color: #730E15;
	font-family: 'Pacifico', cursive;
}
.nav {
	width: 60%;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.div {
	
	font-family: 'Nunito', sans-serif;
	// padding-top: 15px;
	font-weight: extra-light;
	display: flex;
	justify-content: space-around;
}


.menu {
	
	font-size: 15px;
	a {
		text-decoration: none;
		color: black;
	}
}

.container {
    width: 100%;
}



//ABOUT PAGE
.main-body {
	margin-top: 50px;
	
}


.photo {
	display: flex;
	justify-content: center;
}

.photo img {

	width: 60%;
	max-width: 700px;
	height: 50%;
	margin-bottom: 20px;
}

p {
	text-align: center;
	margin: 0 30%;
}