// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Nunito|PT+Serif');

* {
	//font-family: 'Nunito', sans-serif;
}
h1 {
	text-align: center;
}

.nav {
font-family: 'PT Serif', serif;
	// padding-top: 15px;
	font-weight: extra-light;
	display: flex;
	justify-content: center;
}

.menu {
	margin: 25px 25px;
	font-size: 15px;
	a {
		text-decoration: none;
		color: black;
	}
}

.container {
    width: 100%;
}