// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
}

.nav {
	display: flex;
	justify-content: center;
}

.menu {
	margin: 25px 25px;
	font-size: 15px;
	a {
		text-decoration: none;
		color: black;
	}
}

.container {
    width: 100%;
}