<link rel="stylesheet" type="text/css" href="/assets/stylesheets/fonts/fonts.min.css" />
<%= stylesheet_link_tag '/fonts/fonts.min.css' %>






<div class="footer footerbox">


  <div class="cp">
    &copy; lynnjiyounglee
  </div>
  <div class="insta">
  </div>
  <div class="mail">
  </div>


</div>
